.App{   
  text-align: center;   
  background-color: coral;   
  height: 100vh; 
} 

nav{   
    display:flex;   
    justify-content: space-around;   
    align-items: center;   
    min-height: 25vh;   
    background: purple;   
    color: white;   
    box-shadow: 1px 1px 25px .5px black; 
} 

.nav-links{   
      width: 50%;   
      display: flex;   
      justify-content: space-around;   
      align-items: center;   
      list-style: none; 
} 


      li{   
        list-style: none; 
      }

